body {
    margin: 0 auto;
    width: 1200px;
    min-height: 100vh;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(50, 50, 50, .5);
}

html {
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: "Microsoft YaHei UI","微软雅黑";
}

.el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    /*background-color: rgba(50, 50, 50, .5);*/
}


.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
    /*background-color: rgb(255, 255, 255);*/
    /*color: rgb(44, 66, 99) !important;*/
}

.el-menu--horizontal .el-menu .el-menu-item:hover, .el-menu--horizontal .el-menu .el-submenu__title:hover {
    /*background-color: rgb(220, 220, 220);*/
}

.el-menu {
    /*background-color: rgba(255, 255, 255, 1);*/
}

a{
    text-decoration: none;
}